<mat-card class="nav-card" 
  [ngClass]="{'nav-card': !isFullscreen , 'nav-card-fullscreen': isFullscreen}"
>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <div class="icon-container">
        <img src="/assets/angular-icon.png" width="55">
      </div>
    </mat-list-item>
    &nbsp;
    <mat-list-item role="listitem">
      <button mat-mini-fab 
        aria-label="Add a note" 
        color="primary"
        (click)="goTo('create-note')"
      >
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
    <mat-list-item role="listitem">
      <button mat-mini-fab 
        aria-label="Search a note" 
        color="primary"
        (click)="goTo('search')"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-list-item>
    &nbsp;
    &nbsp;
    <mat-list-item role="listitem">
      <button mat-mini-fab aria-label="Notes" color="accent" (click)="drawer.toggle()">
        <mat-icon>library_books</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>  
</mat-card>
<mat-drawer-container class="nav-drawer">
  <mat-drawer mode="side" #drawer opened>
    <mat-list class="drawer-list" role="list">
      <h2 class="mat-headline pad-l-10">Notes</h2>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" 
        *ngFor="let note of notes | async" 
        [routerLink]="['/show-note', note.id]" 
        routerLinkActive="router-link-active"
      >
        <div class="note-item-header" matLine>
          <div class="note-title">
            <h4 class="mat-title">{{ note.title }}</h4> 
          </div>
          <div class="note-title-icons">
            <button (click)="onDeleteNote(note.id)" mat-icon-button aria-label="Delete note">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <p class="mat-small" matLine>{{ note.date.seconds*1000 | date }}</p>
        <h6 class="mat-body-1" matLine>
          {{ note.body | bodyTagSanitizer }}
        </h6>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

