.content-fullscreen {
    width: 80% !important;
    margin-left: 150px !important;
}

.header {
    .note-title {
        width: 80%;
    }

    .header-buttons {
        display: inline !important;
    }
}